body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #141414;
  background-color: #2F5BA5;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 17.5rem;
  width: 60%;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main img {
  width: 25rem;
  height: auto;
}

.blagueDiv {
  background-color: #7394CD;
  width: 25rem;
  height: auto;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px #0B3372;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.blague {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0B3372;
}

button {
  font-size: inherit;
  font-family: inherit;
  color: #F3F3F3;
  background-color: #2F5BA5;
  box-shadow: 1px 1px 1px #0B3372;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}

button:hover {
  background-color: #0B3372;
}

footer {
  background-color: #7394CD;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
